PySide6>=6.4.0
requests
vosk>=0.3.44
sounddevice
numpy>=1.22.0
psutil
watchdog
pyaudio>=0.2.13    # Required for voice recognition
scipy>=1.9.0       # For audio processing
mutagen # Added for accurate audio duration
